.footer{
    background: $primaryColor;
    background: $gradianteAllboom;
    color: white;
}

.header{
    background: $primaryColor;
    background: $gradianteAllboom;
}

.boxTitle{
    background: $primaryColor;
    background: $gradianteAllboom;
    color: white;
}